
body {
	font-family:Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size:16px;
}

header {
	display:flex;
	justify-content:center;
	text-align:center;
}

header h1 {
	font-size:6em;
	font-weight:bold;
	margin:0 0;
	padding:0.1em 0;
	text-shadow:2px 2px 2px black;
	letter-spacing:2px;
}

#links {
	display:flex;
	margin-top:2em;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	margin-left:3%;
	margin-right:3%;
}

#links .button {
	text-decoration:none;
	border:3px solid black;
	border-radius:10px;
	padding:10px 20px;
	margin:10px;
	transition: all 200ms;
	box-shadow:0 2px black;
}

.button:hover {
	background-color:#fad16b !important;
	padding:12px 22px !important;
	margin:8px !important;
}

.button h3 {
	margin:0 0;
	font-weight:1000;
	font-size:1.2em;
}

@media only screen and (max-device-width:680px){
	#links {
		flex-direction:column;
	}
	#links .button {
		min-width:100%;
		padding:10px 0;
		font-size:2em;
	}
}



