
body {
	font-family:Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size:16px;
}

header {
	display:flex;
	justify-content:center;
	text-align:center;
}

header h1 {
	font-size:6em;
	font-weight:bold;
	margin:0 0;
	padding:0.1em 0;
	text-shadow:2px 2px 2px black;
	letter-spacing:2px;
}

#links {
	display:flex;
	margin-top:2em;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	margin-left:3%;
	margin-right:3%;
}

#links .button {
	text-decoration:none;
	border:3px solid black;
	border-radius:10px;
	padding:12px 20px;
	margin:10px;
	transition: all 200ms;
	box-shadow:0 2px black;
	text-align:center;
}

.button h3 {
	margin:0 0;
}


@media only screen and (max-device-width:680px){
	#links {
		flex-direction:column;
		background-color:#161f33;
	}
	header h1 {
		font-size:8em;
	}
	#links {
		width:90%;
		margin:1em auto 0;
	}
	#links .button {
		min-width:100%;
		padding:.5em 0;
		font-size:4em;
		margin-left:0;
		margin-right:0;
		margin-bottom:1em;
		border:.2em solid black;
		border-radius:.7em;
		box-shadow:0 .2em black;
	}
	#links .button:last-child {
		margin-bottom:.2em;
	}
	.button:hover {
		background-color:#fad16b !important;
	}
}

@media only screen and (min-device-width:681px){
	.button:hover {
		background-color:#fad16b !important;
		padding:14px 22px !important;
		margin:8px !important;
	}
}



