
.fg1 {
	color:#161f33;
}

.bg1 {
	background-color:#161f33;
}

.fg2 {
	color:#292a2e;
}

.bg2 {
	background-color:#292a2e;
}

.fg3 {
	color:darkgrey;
}

.bg3 {
	background-color:darkgrey;
}

.fg4 {
	color:lightgrey;
}

.bg4 {
	background-color:lightgrey;
}




